.idea/

train/corpora/*
!train/corpora/.gitkeep

train/models/*
!train/models/.gitkeep

train/tsne/*
!train/tsne/cbow/.gitkeep
!train/tsne/skipgram/.gitkeep

usage/api/__pycache__
usage/api/models/__pycache__
usage/api/models/cbow/*
!usage/api/models/cbow/.gitkeep
usage/api/models/skipgram/*
!usage/api/models/skipgram/.gitkeep
