<!DOCTYPE html>
<html>
<head>
	<title>Simularuty</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
<div id="app" class="container-fluid align-items-center" >
	<div class="row justify-content-center mt-3">
		 <form class="form-inline">
  			<div class="form-group mx-sm-3 mb-2">
    			<input v-model="word" class="form-control" >
  			</div>
  			<button type="button" class="btn btn-primary mb-2" v-on:click="search">Знайти схожі слова</button>
		</form>
	</div>
	<div class="row justify-content-center mt-3">
		 <div class="col-4">
		 	<h3>Skip gram</h3>
		 	<ul class="list-group" v-for="word in skipgram">
  				<li class="list-group-item item">{{word}}</li>
			</ul>	
		 </div>
		 <div class="col-4">
		 	<h3>CBOW</h3>
		 	<ul class="list-group" v-for="word in cbow">
  				<li class="list-group-item item">{{word}}</li>
			</ul>
		 </div>
	</div>
</div>
<script src="script.js"></script>
</body>
</html>